<div class="container" style="margin:auto;">
    <div class="row">
<div class="col">
        <table class="table">
    <thead>
      <tr >
        <th scope="col">#</th>
        <th scope="col">Marka Adı</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of brands">
        <td>{{brand.brand_id}}</td>
        <td>{{brand.brand_name | uppercase}}</td>
        <td>
        <div class="row">
            <div class="col">
                <div class="button-group" style="float: right;">          
                <button class="btn btn-danger" style="margin-left: 25px;" 
                data-bs-toggle="modal" data-bs-target="#exampleModal1"  (click)="deleteBrand(brand)"
                routerLink="/cars " >Sil</button>
            </div>
            </div>
        </div>
        
    </td>
      </tr>
     
    </tbody>
  </table>
</div>
</div>

</div>


