<div class="container" style="margin:auto;">
    <div class="row">
<div class="col">
        <table class="table">
    <thead>
      <tr >
        <th scope="col">#</th>
        <th scope="col">Renk Adı</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let color of colors">
        <td>{{color.color_id}}</td>
        <td>{{color.color_name | uppercase}}</td>
        <td>
        <div class="row">
            <div class="col">
                <div class="button-group" style="float: right;">          
                <button class="btn btn-danger" style="margin-left: 25px;" 
                (click)="deleteColor(color)" >Sil</button>
            </div>
            </div>
        </div>
        
    </td>
      </tr>
     
    </tbody>
  </table>
</div>
</div>

</div>
